<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="box">
      <p>已有功能：</p>
      <ul>
        <li>会议管理：创建、管理、删除。</li>
        <li>文件管理：创建、管理、删除。</li>
      </ul>
      <ul>
        <li>用户组管理：创建、管理、删除、权限。</li>
        <li>用户管理：创建、管理、删除、权限。</li>
      </ul>
    </div>
  </body>
</html>
